<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Slide App{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 引入自定义 CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- 引入 CKEditor -->
    <script src="https://cdn.ckeditor.com/ckeditor5/41.4.2/super-build/ckeditor.js"></script>
    <!-- <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/super-build/ckeditor.js"></script> -->

    <!-- 引入 Prism.js CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs/themes/prism.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            {% include 'sidebar.html' %}
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>
    <!-- 引入 jQuery 和 Bootstrap JS -->
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- 引入自定义 JS -->
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <!-- 引入 Prism.js JS -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/prism.js"></script>
    <!-- 添加需要的语言组件 -->
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-python.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/prismjs/components/prism-javascript.min.js"></script>
</body>
</html>